body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    animation: fadeIn 1.5s ease;
    background-image: url('Image Resources/9161244.png');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #ffc107; /* Yellow background */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns items to the left */
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add some spacing between logo and text */
}

header .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.website-name {
    color: #333;
    font-size: 24px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    
}

.signup {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-width: 400px;
    width: 100%; /* Added */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 120px;
    padding-left: 120px;
}

.signup h1 {
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
}

.signup .login {
    text-align: center; /* Center the login container */
}

.signup .login img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.signup form {
    text-align: left;
    width: 100%;
}

.signup label {
    display: block;
    margin-bottom: 5px;
}

.signup input[type="text"],
.signup input[type="password"] {
    width: calc(100% - 22px); /* Adjusted width */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.signup button {
    width: 100%;
    background-color:#ffc107;
    color: #333;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    border:2px solid black;
}

.signup button:hover {
    background-color:white;
    border:2px solid whitesmoke;
}

.signup p {
    margin-top: 20px;
}

.signup p a {
    color: #333;
    text-decoration: none;
}

.signup p a:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}