<!DOCTYPE html>
<html>
<head>
    <title>After 12th Student Interest</title>
    <link rel="stylesheet" href="/interest.css">
</head>
<body>
    <form action="/11_12thinterest" method="post"> <!-- Changed action to "/interest" and method to "post" -->
        <div class="interest-container">
            <h2>What Are Your Interests?</h2>
            <div class="options">
                <input type="checkbox" id="Integration" name="interests" value="Integration">
                <label class="btn" for="Integration">Integration</label>
                <input type="checkbox" id="Electric Charges" name="interests" value="Electric Charges">
                <label class="btn" for="Electric Charges">Electric Charges</label>
                <input type="checkbox" id="Magnetism" name="interests" value="Magnetism">
                <label class="btn" for="Magnetism">Magnetism</label>
                <input type="checkbox" id="Human-Reproduction" name="interests" value="Human-Reproduction">
                <label class="btn" for="Human-Reproduction">Human Reproduction</label>
                <input type="checkbox" id="Electrochemistry" name="interests" value="Electrochemistry">
                <label class="btn" for="Electrochemistry">Electrochemistry</label>
                <input type="checkbox" id="Solutions" name="interests" value="Solutions">
                <label class="btn" for="Solutions">Solutions</label>
            </div>
            <button class="next" type="submit">Next</button>
        </div>
    </form>
</body>
</html>