<!DOCTYPE html>
<html>
<head>
    <title>After 12th Student Interest</title>
    <link rel="stylesheet" href="/interest.css">
<body>
    <form action="/9_10thinterest" method="post"> <!-- Changed action to "/interest" and method to "post" -->
        <div class="interest-container">
            <h2>What Are Your Interests?</h2>
            <div class="options">
                <input type="checkbox" id="Electricity" name="interests" value="Electricity">
                <label class="btn" for="Electricity">Electricity</label>
                <input type="checkbox" id="Trignometry" name="interests" value="Trignometry">
                <label class="btn" for="Trignometry">Trignometry</label>
                <input type="checkbox" id="LifeProcess" name="interests" value="Life Process">
                <label class="btn" for="LifeProcess">Life Process</label>
                <input type="checkbox" id="Light" name="interests" value="Light">
                <label class="btn" for="Light">Light </label>
                <input type="checkbox" id="Polynomials" name="interests" value="Polynomials">
                <label class="btn" for="Polynomials">Polynomials</label>
                <input type="checkbox" id="Acid" name="interests" value="Acid">
                <label class="btn" for="Acid">Acid Bases</label>
            </div>
            <button class="next" type="submit">Next</button>
        </div>
    </form>
</body>
</html>