<!DOCTYPE html>
<html>
    <head>
        <title>Qualification</title>
        <link rel="stylesheet" href="/queryform.css">
    <body>
        <div class="questioning-container">
            <h2>What grade are you in?</h2>
            <button type="submit"name="category" onclick="location.href='/9_10thinterest'">I am an 9th/10th grade student.</button><br>
            <button type="submit"name="category" onclick="location.href='/11_12thinterest'">I am an 11th/12th grade student.</button>
        </div>
    </body>
</html>
