<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide Sphere</title>
    <link rel="stylesheet" href="/landingpage_styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img src="Image Resources/gslogo.png" alt="Guide Sphere Logo">
                <h1 class="website-name">Guidesphere</h1>
            </div>
            <ul>
                <li><a href="/about">About Us</a></li>
            </ul> 

        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Find the best courses, books, and jobs for students and graduates.</h1>
            <p>Start your journey with Guide Sphere today.</p>
            <button type="submit" onclick="location.href='/option_page'">Get Started</button>
        </section>
        <section class="content">
            <h2>Explore our recommendations.</h2>
            <p>Discover courses, books, and job opportunities tailored for your needs.</p>
        </section>
        <section class="features">
            <div class="feature">
                <img src="/images/home_page_1.png" alt="Books">
                <h3>Get Books</h3>
                <p>Find the best books to enhance your knowledge.</p>
            </div>
            <div class="feature">
                <img src="/images/home_page_2.png" alt="Courses">
                <h3>Get Courses</h3>
                <p>Explore courses to improve your skills.</p>
            </div>
            <div class="feature">
                <img src="/images/job_pecific.png" alt="Jobs">
                <h3>Get Jobs</h3>
                <p>Discover job opportunities suited for you.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>Questions? Contact us at info@guidesphere.com</p>
    </footer>
 <script src="script.js"></script>
</body>
</html>