<!DOCTYPE html>
<html>
<head>
    <title>Questioning</title>
    <link rel="stylesheet" href="queryform.css">
</head>
<body>
    <div class="questioning-container">
        <h2>What's your present Qualifiaction?</h2>
        <button type="submit"name="category" onclick="location.href='/before12thquestion'">I am a 10th/College Student</button><br>
        <button type="submit"name="category" onclick="location.href='/interest'">I am a Graduate Student</button>
    </div>
</body>
</html>
